$tablet-width: 1440px;
$header-menu-mobile: 870px;
$mobile-width: 750px;

$color: #24344B;
$color-hover: #C9A872;
$bg-color: #E5E5E5;
$bg-color-menu: #ffffff;
$bg-color-tel: #F4F4F4;
$bg-color-menu-linear: linear-gradient(to left,#ffffff00 0, #ffffff00 40px,#ffffff 40px, #ffffff 100%);


$main-screen-color: #ffffff;
$main-text-sadow: #C9A872;
$main-text-link: #C9A872;
$main-bg: #F4F4F4;

$company-achievements-c: #24344B;
$topical-issues-bg: linear-gradient(to right,#F4F4F4 0%, #F4F4F4 93.5%, #C9A872 93.5%, #C9A872 100%);
$managing-partner-bg: #24344B;

$recommendation-bg: linear-gradient(to right,#24344B 0%, #24344B 71.5%, $main-text-link 71.5%, $main-text-link 100%);
$recommendation-bg-phome: linear-gradient(to right,#24344B 0%, #24344B 95%, $main-text-link 95%, $main-text-link 100%);

$form-c: #24344B;
$form-c-opacity: rgba(36, 53, 76, 0.4);
$footer-bottom-color: #B3B3B3;
$form-error-c: #D50000;
$form-border-focus: none;
$form-c-op: #ffffff50;

$footer-bg: #24344B;
$footer-c: #ffffff;
$footer-c-opacity: rgba(255, 255, 255, 0.6);

$sub-menu-c: #FFFFFF;
$sub-menu-bg: #24344B;
$sub-menu-border: #C9A872;

$pagination-c: #979DA6;