.career-resume {
  background-color: $bg-color-tel;
  &--light {
    background-color: $bg-color-menu;
  }
  &__wrapper {
    padding: 80px 0 25px;
  }
  .form-feedback__head {

    font-family: 'PTRMedium';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
  .services-cost {
    &__head {
      
      &--bottom {
        font-family: 'PTRBold';
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        padding-left: 8.5%;
        display: flex;
        margin-bottom: 38px;
      }
    }

    &__card {
      margin-left: 8.5%;
    }

    &__card-text {
      font-family: 'PTRNormal';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0px;
      
      &--medium {
        font-family: 'PTRMedium';
        font-weight: 500;
      }
      &--bold {
        font-family: 'PTRBold';
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin: 21px 0 54px;
      }
    }

    &__card-list {
      margin-top: 61px;
    }

    &__card-item {
      padding-left: 50px;
      font-family: 'BitterRegular';
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .form {    
    &__wrapper-file {
      position: relative;
      max-width: 31.6%;
      width: 100%;
      margin-top: 30px;
    }

    &__label {
      &--comments {
        width: 65.8%;
      }
      &--file {
        position: absolute;
        top: 0;
        width: 36px;
        transform: translate(-100%, -69%);        }
      &--link {
        width: 100%;
      }
    }

    &__icon-file {
      width: 100%;
      height: 100%;
      max-width: 36px;
      max-height: 36px;
      display: flex;
      cursor: pointer;
    }
  }
  
}

@media (max-width: $tablet-width - 1){
  .career-resume {
    .form-feedback__head {
      font-family: 'PTRBold';
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
    }
    .form {
      
      &__wrapper-file {
        position: relative;
        max-width: 45%;
        width: 100%;
        width: 100%;
        margin-top: 30px;
      }
  
      &__label {
        &--comments {
          max-width: 45%;
          width: 100%;
        }
        &--file {
          position: absolute;
          top: 0;
          width: 36px;
          transform: translate(-100%, -69%);        
        }
        &--link {
          width: 100%;
        }
      }
  
      &__icon-file {
        width: 100%;
        height: 100%;
        max-width: 36px;
        max-height: 36px;
        display: flex;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 880px) {
  .career-resume {
    .form {      
      &__wrapper-file {
        position: relative;
        max-width: 45%;
        width: 100%;
        width: 100%;
        margin-top: 30px;
      }
  
      &__label {
        &--comments {
          max-width: 45%;
          width: 100%;
        }
        &--file {
          position: absolute;
          top: 0;
          width: 36px;
          transform: translate(-100%, -69%);        
        }
        &--link {
          width: 100%;
        }
      }
        
      &__icon-file {
        width: 100%;
        height: 100%;
        max-width: 36px;
        max-height: 36px;
        display: flex;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $mobile-width - 1) {
  .career-resume {
    &--light {
      background-color: $bg-color-menu;
    }
    &__wrapper {
      padding: 70px 0 15px;
    }
    .services-cost {
      &__wrapper-top {
        padding: 40px 0 10px;
      }
      &__head {
        &--bottom {
          font-family: 'PTRBold';
          font-weight: bold;
          font-size: 30px;
          line-height: 38px;
          padding-left: 8.5%;
          display: flex;
          margin-bottom: 38px;
        }
      }
      &__card {
        margin-left: 0;
      }
      &__card-text {
        font-family: 'PTRNormal';
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0px;
  
        &--bold {
          font-family: 'PTRBold';
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          margin: 21px 0 54px;
        }
      }
      &__card-list {
        margin-top: 39px;
        margin-bottom: 39px;
      }
  
      &__card-item {
        padding-left: 50px;
        font-family: 'BitterRegular';
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
      &__head--bottom {
        margin-bottom: 24px;
        font-family: 'PTRMedium';
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        padding-left: 0;
      }
      &__card-item {
        font-family: 'BitterRegular';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-left: 14px;
      }
    }
  
    .form-feedback {

      &__head {
        padding-top: 72px;
      }
    }
    .form {      
      &__wrapper-file {
        position: relative;
        max-width: 100%;
        width: 100%;
        margin-top: 22px;
        order: 4;
      }
  
      &__label {
        &--comments {
          max-width: 100%;
          width: 100%;
        }
        &--file {
          position: absolute;
          top: 0;
          width: 36px;
          transform: translate(-100%, -69%);        
        }
        &--link {
          width: 100%;
        }

        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(1) {
          order: 3;
        }
        &:nth-child(1) {
          order: 5;
        }
      }
  
      &__input {
        padding: 9px 2px;
      }
  
      &__icon-file {
        width: 100%;
        height: 100%;
        max-width: 36px;
        max-height: 36px;
        display: flex;
        cursor: pointer;
      }
    }
  }
}
