.infocenter-letters {
  .infocenter {
    &__card {
      padding: 47px 0 0 0px;
      min-height: 346px;
      margin-bottom: 34px;

      &:nth-child(4) {
        max-width: 359px;
      }
    }

    &__card-head  {
      padding: 27px 25px 0;

    }

    &__card-wrapper-link {
      padding: 0 24px 40px;
    }

    &__pagination {
      padding: 50px 0 0;
    }
  }

  &__text {
    font-family: 'PTRNormal';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 24px 24px;
  }
}


@media (max-width: 1216px) {
  .infocenter-letters {
    .infocenter {
      &__card {
        padding: 21px 4px 0;
        margin-bottom: 18px;
        min-height: 300px;
        width: 49%;
        max-width: 49%;
        

        &:nth-child(4) {
          max-width: 49%;
        }
      }
    }
  }
}

@media (max-width: $mobile-width - 1) {
  .infocenter-letters {
    .infocenter {
      &__card {
        padding: 21px 4px 0;
        margin-bottom: 18px;
        min-height: 300px;
        width: 100%;
        max-width: 100%;
        

        &:nth-child(4) {
          max-width: 100%;
        }
      }
  
      &__card-head  {

        padding: 11px 19px 0;
      }
  
      &__card-wrapper-link {
        padding: 0 24px 17px;
      }
  
      &__pagination {
        padding: 18px 0 0;
      }
    }
  
    &__text {

      padding: 0 20px 35px;
    }
  }
}
