.about-logo-list {

  &__wrapper {
    padding: 61px 0 82px;
  }

  &__head {
    font-family: 'PTRBold';
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }

  &__list {
    margin-top: 60px;
  }

  &__item {
    font-family: 'PTRNormal';
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding-left: 69px;
    margin-bottom: 32px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $sub-menu-border;
      top: 50%;
      left: 34px;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: $mobile-width - 1) {
  .about-logo-list {

    &__head {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }

    &__list {
      margin-top: 39px;
    }

    &__item {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      padding-left: 27px;
      margin-bottom: 28px;

      &::before {
        left: 6px;
      }
    }
  }
}

